<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Honey Badgers Don't Care!</title>
  </head>
  <body>
    <h1><%= honeyBadger[0].name %></h1>
    <hr>
    <h2>Stats:</h2>
    <h3>Dig Speed: <%= honeyBadger[0].dig_speed %></h3>
    <h3>Anger Level: <%= honeyBadger[0].anger_level %></h3>
    <h3>Offspring: <%= honeyBadger[0].offspring %></h3>
    <h3>Cares Given: <%= honeyBadger[0].cares_given %></h3>
  </body>
</html>
